.pink-background{
	-fx-background-color: #fddede;
}

.transparent{
	-fx-background-color: rgba(0,0,0,0);
}

.round-layout{
	-fx-border-radius:50;
	-fx-border-color:#D7D7D7;
}

.oval-layout{
	-fx-border-radius:25;
	-fx-border-color:#D7D7D7;
}

.selected{
	-fx-background-color:#F3F3F3;
}
